<div class="mt-5 mb-10 lg:mt-0 w-full md:w-fit max-w-full md:px-4 flex flex-col md:flex-row border border-vapor rounded-xl items-stretch justify-between {{#if class}}{{class}}{{/if}}">
  {{#with (get-page-meta page)}}

    <div class="flex items-center pl-3 md:pl-0 pr-3 py-2">
      <!-- Article Last Updated -->
      {{#if lastUpdate}}
        <a href="{{commitUrl}}" class="flex min-w-fit items-center text-link-on-light">
          <img src="{{{@root.uiRootPath}}}/img/calendar.svg" alt="Language Icon" class="inline-block h-5 w-5 mr-2">
          {{format-time-ago lastUpdate}}
        </a>
      {{/if}}
      <!-- Read Time -->
      {{#if @root.page.attributes.show-readtime}}
        {{#if readingTime}}
          <span class="text-xl px-2">&middot;</span>
          <span class="flex min-w-fit items-center">
            {{readingTime}}
          </span>
        {{/if}}
      {{/if}}
    </div>
  {{/with}}

  <!-- Platform Tags -->
  {{#if page.attributes.platform}}
    <div class="flex items-center min-w-fit space-x-1 px-3 py-2 md:py-0 border-t md:border-t-0 md:border-l border-inherit">
      {{#each (split page.attributes.platform ',')}}
        <span class="text-[10px] text-terminal-black border rounded-full py-1 px-1.5" style="font-family: 'Roboto', sans-serif; font-weight: 700;">{{this}}</span>
      {{/each}}
    </div>
  {{/if}}
  <!-- Markdown Dropdown -->
  <div data-dropdown class="relative flex items-center py-2 md:py-0 pl-3 min-w-fit border-t md:border-t-0 md:border-l border-inherit">
    <button
      data-dropdown-button
      class="text-link-on-light flex items-center focus:outline-none"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span data-dropdown-selected class="text-[16px] font-medium">Markdown</span>
      <img src="{{{uiRootPath}}}/img/arrow-down.svg" alt="Toggle" class="ml-2 w-[8px] h-[8px]">
    </button>

    <!-- Dropdown Menu -->
    <ul
      data-dropdown-menu
      class="absolute top-10 left-0 !py-[9px] !px-0 m-[9px] rounded-xl shadow-default bg-white min-w-[160px] z-[5] hidden"
      role="listbox"
      tabindex="-1"
    >
      <li
        data-dropdown-option
        data-label="Markdown"
        class="p-[8px] hover:bg-fog cursor-pointer rounded-lg mx-[9px]"
        role="option"
      >
        <a href="index.md" target="_blank" rel="noopener noreferrer" class="block text-link-on-light no-underline text-[16px] font-medium">
          View markdown
        </a>
      </li>
      <li
        data-dropdown-option
        data-label="Markdown"
        class="p-[8px] hover:bg-fog cursor-pointer rounded-lg mx-[9px]"
        role="option"
      >
        <button class="copy-markdown-link block text-link-on-light text-left w-full bg-transparent border-none cursor-pointer p-0 text-[16px] font-medium">
          Copy markdown
        </button>
      </li>
    </ul>
  </div>
</div>