<footer class="mt-10 mb-12 border-t border-vapor w-full text-sm px-12 pt-6">
  <!--
  <div class="flex flex-col md:flex-row md:items-center">
    <h4 class="text-xl font-normal">
      Was this page helpful ?
    </h4>
    <div class="inline-flex mt-6 md:mt-0 md:ml-8 space-x-4">
      <button class="rounded-md px-2 py-2 inline-flex justify-center items-center border border-vapor space-x-1">
        <img src="{{uiRootPath}}/img/thumbs-up.svg" alt="Thumbs Up" class="inline-block w-4 h-4">
        <span class="font-light">
          Yes
        </span>
      </button>
      <button class="rounded-md px-2 py-2 inline-flex justify-center items-center border border-vapor space-x-1">
        <img src="{{uiRootPath}}/img/thumbs-down.svg" alt="Thumbs Up" class="inline-block w-4 h-4">
        <span class="font-light">
          No
        </span>
      </button>
    </div>

  </div>
  -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 my-8">

    <div class="rounded-lg border border-vapor p-[24px] space-y-4">
      <h4 class="text-lg font-medium">
        Suggest an edit to this page
      </h4>

      <ul class="space-y-2 text-link-on-light">
        <li class="group flex items-center">
          <a href="{{page.editUrl}}">Make a contribution</a>
          <img src="{{{uiRootPath}}}/img/link-arrow.svg" alt="Go to Code" class="invisible group-hover:visible ml-2 inline-block w-[13px] h-[13px]">
        </li>
        <li class="group flex items-center">
          <a href="https://github.com/circleci/circleci-docs/blob/main/CONTRIBUTING.md">Learn how to contribute</a>
          <img src="{{{uiRootPath}}}/img/link-arrow.svg" alt="Go to Code" class="invisible group-hover:visible ml-2 inline-block w-[13px] h-[13px]">
        </li>
      </ul>
    </div>

    <div class="rounded-lg border border-vapor p-[24px] space-y-4">
      <h4 class="text-lg font-medium">
        Still need help?
      </h4>

      <ul class="space-y-2 text-link-on-light">
        <li class="group flex items-center">
          <a href="https://discuss.circleci.com/">Ask the CircleCI community</a>
          <img src="{{{uiRootPath}}}/img/link-arrow.svg" alt="Go to Code" class="invisible group-hover:visible ml-2 inline-block w-[13px] h-[13px]">
        </li>
        <li class="group flex items-center">
          <a href="https://circleci.com/research/">Join the research community</a>
          <img src="{{{uiRootPath}}}/img/link-arrow.svg" alt="Go to Code" class="invisible group-hover:visible ml-2 inline-block w-[13px] h-[13px]">
        </li>
        <li class="group flex items-center">
          <a href="https://support.circleci.com/hc/en-us/">Visit our support site</a>
          <img src="{{{uiRootPath}}}/img/link-arrow.svg" alt="Go to Code" class="invisible group-hover:visible ml-2 inline-block w-[13px] h-[13px]">
        </li>
      </ul>
    </div>
  </div>
  </footer>
