<nav data-component-explorer-nav class="flex flex-col md:flex-row md:items-center justify-between text-terminal-black font-medium md:font-light {{#if class}}{{class}}{{/if}} overflow-x-auto whitespace-nowrap gap-3">

  <ul class="flex flex-col md:flex-row md:space-x-8">
    {{#each options.navList}}
      <li class="flex items-center mr-2">
        <a href="{{{relativize ./url}}}" class="inline-block px-2 py-2 md:py-3 {{#if (eq ./name @root.page.component.name)}} text-accent-green md:text-inherit border-l-2 md:border-l-0 md:border-b-2 border-accent-green font-medium {{/if}} ">
          {{{./label}}}
        </a>
      </li>
    {{/each}}
  </ul>

  <ul class="flex flex-col ml-2 mt-10 md:mt-0 md:ml-0 md:flex-row gap-2">
    <li class="flex items-center">
      <a href="https://circleci.com/developer/" class="inline-block md:px-2 md:py-3">
        Dev Hub
      </a>
      <img src="{{{uiRootPath}}}/img/link-arrow.svg" alt="Go to" class="md:hidden ml-2 inline-block w-[13px] h-[13px]">
    </li>
    <li class="flex items-center">
      <a href="{{{siteRootPath}}}/reference/api-homepage/" class="inline-block md:px-2 md:py-3">
        API
      </a>
      <img src="{{{uiRootPath}}}/img/link-arrow.svg" alt="Go to" class="md:hidden ml-2 inline-block w-[13px] h-[13px]">
    </li>
    <li class="flex items-center">
      <a href="https://support.circleci.com/hc/en-us/" class="inline-block md:px-2 md:py-3">
        Support
      </a>
      <img src="{{{uiRootPath}}}/img/link-arrow.svg" alt="Go to" class="md:hidden ml-2 inline-block w-[13px] h-[13px]">
    </li>
    <li class="flex items-center">
      <a href="https://discuss.circleci.com/" class="inline-block md:px-2 md:py-3">
        Discuss
      </a>
      <img src="{{{uiRootPath}}}/img/link-arrow.svg" alt="Go to" class="md:hidden ml-2 inline-block w-[13px] h-[13px]">
    </li>
    <li class="flex items-center">
      <a href="https://circleci.com/" class="inline-block md:px-2 md:py-3">
        CircleCI.com
      </a>
      <img src="{{{uiRootPath}}}/img/link-arrow.svg" alt="Go to" class="md:hidden ml-2 inline-block w-[13px] h-[13px]">
    </li>
  </ul>
</nav>
