<ul class="{{ulClass}}">
  <li class="flex items-center">
    <a href="https://circleci.com/developer/" class="{{linkClass}}">Dev Hub</a>
    {{#if showArrows}}<img src="{{{uiRootPath}}}/img/link-arrow.svg" alt="Go to" class="ml-2 inline-block w-[13px] h-[13px]">{{/if}}
  </li>
  <li class="flex items-center">
    <a href="{{{siteRootPath}}}/reference/api-homepage/" class="{{linkClass}}">API</a>
    {{#if showArrows}}<img src="{{{uiRootPath}}}/img/link-arrow.svg" alt="Go to" class="ml-2 inline-block w-[13px] h-[13px]">{{/if}}
  </li>
  <li class="flex items-center">
    <a href="https://support.circleci.com/hc/en-us/" class="{{linkClass}}">Support</a>
    {{#if showArrows}}<img src="{{{uiRootPath}}}/img/link-arrow.svg" alt="Go to" class="ml-2 inline-block w-[13px] h-[13px]">{{/if}}
  </li>
  <li class="flex items-center">
    <a href="https://discuss.circleci.com/" class="{{linkClass}}">Discuss</a>
    {{#if showArrows}}<img src="{{{uiRootPath}}}/img/link-arrow.svg" alt="Go to" class="ml-2 inline-block w-[13px] h-[13px]">{{/if}}
  </li>
  <li class="flex items-center">
    <a href="https://circleci.com/" class="{{linkClass}}">CircleCI.com</a>
    {{#if showArrows}}<img src="{{{uiRootPath}}}/img/link-arrow.svg" alt="Go to" class="ml-2 inline-block w-[13px] h-[13px]">{{/if}}
  </li>
</ul>
