<footer class="mt-6 pb-24 w-full {{#if class}}{{class}}{{/if}}">

  <img src="{{uiRootPath}}/img/logo.svg" alt="CircleCI Logo" class="h-[44px]">

  <div class="font-light mt-6">
    <ul class="flex space-x-6 space-y-4 flex-col md:flex-row">
      <li>
        <p>
          © CircleCI, Inc. All rights reserved.
        </p>
      </li>
      <ul class="flex flex-wrap space-x-6 space-y-4">
        <li>
          <a href="https://circleci.com/legal/terms-of-service/">Terms of Service</a>
        </li>
        <li>
          <a href="https://circleci.com/legal/privacy/">Privacy Policy</a>
        </li>
        <li>
          <a href="https://circleci.com/legal/cookie-policy/">Cookie Policy</a>
        </li>
        <li>
          <a href="https://circleci.com/security/">Security</a>
        </li>
      </ul>

    </ul>
    <ul class="flex space-x-4 items-center mt-5">
      <li>
        <a href="https://github.com/circleci">
          <img src="{{uiRootPath}}/img/github-icon.svg" alt="Github Socials" class="h-4 w-4">
        </a>
      </li>
      <li>
        <a href="https://circleci.com/blog/feed.xml">
          <img src="{{uiRootPath}}/img/rss-icon.svg" alt="RSS Socials" class="h-4 w-4">
        </a>
      </li>
      <li>
        <a href="https://x.com/circleci">
          <img src="{{uiRootPath}}/img/x-icon.svg" alt="X Socials" class="h-4 w-4">
        </a>
      </li>
      <li>
        <a href="https://www.twitch.tv/circleci">
          <img src="{{uiRootPath}}/img/twitch-icon.svg" alt="Twitch Socials" class="h-4 w-4">
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/circleci">
          <img src="{{uiRootPath}}/img/linkedin-icon.svg" alt="LinkedIn Socials" class="h-4 w-4">
        </a>
      </li>
    </ul>
  </div>
</footer>
