<div class="pt-10 px-9 text-left max-w-[1440px] mx-auto relative overflow-hidden 2xl:overflow-visible">

  <div class="my-8 max-w-[496px]">
    <h1 class="font-medium text-[24px] md:text-[32px] mb-6">
      Hi, welcome to CircleCI documentation!
    </h1>
    <p class="mb-10 max-w-[400px]">
      Use the tutorials, samples, how-to, and reference documentation to learn CircleCI.
    </p>
    <ol class="list-decimal list-inside text-link-on-light">
      <li>
        <a href="{{{relativize '/guides/getting-started/first-steps/'}}}">Connect your code</a>
      </li>
      <li>
        <a href="{{{relativize '/guides/getting-started/create-project/'}}}">Set up a project</a>
      </li>
      <li>
        <a href="{{{relativize '/guides/getting-started/invite-your-team/'}}}">Invite your team</a>
      </li>
    </ol>
  </div>
  <img src="{{{uiRootPath}}}/img/docs-home-hero.png" alt="Home Hero Banner" class="hidden md:block md:absolute md:w-[50%] lg:w-[40%] -z-10 lg:-top-10 md:-top-10 lg:-right-10 md:-right-12">


  <section class="mt-4">
    <h4 class="font-medium  text-[20px] md:text-[24px] mb-4">Examples and guides</h4>
    <p class="mb-10">
      Get started in minutes: follow step-by-step guides or explore a sample app.
    </p>

    <div class="flex flex-col md:flex-row gap-8 md:justify-between">
      <a href="{{{relativize '/guides/getting-started/getting-started/'}}}" class="group flex-1 rounded-2xl border border-vapor p-8 hover:bg-inline-grey flex flex-col justify-between items-start">
        <img src="{{{uiRootPath}}}/img/deployment.svg" alt="Quick Start Rocket" class="h-[48px]">
        <p class="flex items-center justify-between font-medium text-[20px] lg:text-[24px] md:flex-col lg:flex-row lg:items-center md:items-start mt-4">
          Quickstart guide
          <svg width="16" height="12" viewBox="0 0 16 12" class="inline-block rotate-180 fill-accent-green group-hover:stroke-inherit" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 5.29289C-0.0976311 5.68342 -0.0976311 6.31658 0.292893 6.70711L5.29289 11.7071C5.68342 12.0976 6.31658 12.0976 6.70711 11.7071C7.09763 11.3166 7.09763 10.6834 6.70711 10.2929L3.41421 7H15C15.5523 7 16 6.55228 16 6C16 5.44772 15.5523 5 15 5H3.41421L6.70711 1.70711C7.09763 1.31658 7.09763 0.683417 6.70711 0.292894C6.31658 -0.0976312 5.68342 -0.0976312 5.29289 0.292894L0.292893 5.29289Z" fill="currentColor"/>
          </svg>
        </p>
      </a>
      <a href="{{{relativize '/guides/getting-started/hello-world/'}}}" class="group flex-1 rounded-2xl border border-vapor p-8 hover:bg-inline-grey flex flex-col justify-between items-start">
        <img src="{{{uiRootPath}}}/img/insights.svg" alt="Idea - Hello world" class="h-[48px]">
        <p class="flex items-center justify-between font-medium text-[20px] lg:text-[24px] md:flex-col lg:flex-row lg:items-center md:items-start mt-4">
          Hello world
          <svg width="16" height="12" viewBox="0 0 16 12" class="inline-block rotate-180 fill-accent-green group-hover:stroke-inherit" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 5.29289C-0.0976311 5.68342 -0.0976311 6.31658 0.292893 6.70711L5.29289 11.7071C5.68342 12.0976 6.31658 12.0976 6.70711 11.7071C7.09763 11.3166 7.09763 10.6834 6.70711 10.2929L3.41421 7H15C15.5523 7 16 6.55228 16 6C16 5.44772 15.5523 5 15 5H3.41421L6.70711 1.70711C7.09763 1.31658 7.09763 0.683417 6.70711 0.292894C6.31658 -0.0976312 5.68342 -0.0976312 5.29289 0.292894L0.292893 5.29289Z" fill="currentColor"/>
          </svg>
        </p>
      </a>
      <a href="{{{relativize '/guides/getting-started/slack-orb-tutorial/'}}}" class="group flex-1 rounded-2xl border border-vapor p-8 hover:bg-inline-grey flex flex-col justify-between items-start">
        <img src="{{{uiRootPath}}}/img/chat-with-us.svg" alt="Chat Notifications" class="h-[48px]">
        <p class="flex items-center justify-between font-medium text-[20px] lg:text-[24px] md:flex-col lg:flex-row lg:items-center md:items-start mt-4">
          Slack Notifications
          <svg width="16" height="12" viewBox="0 0 16 12" class="inline-block rotate-180 fill-accent-green group-hover:stroke-inherit" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 5.29289C-0.0976311 5.68342 -0.0976311 6.31658 0.292893 6.70711L5.29289 11.7071C5.68342 12.0976 6.31658 12.0976 6.70711 11.7071C7.09763 11.3166 7.09763 10.6834 6.70711 10.2929L3.41421 7H15C15.5523 7 16 6.55228 16 6C16 5.44772 15.5523 5 15 5H3.41421L6.70711 1.70711C7.09763 1.31658 7.09763 0.683417 6.70711 0.292894C6.31658 -0.0976312 5.68342 -0.0976312 5.29289 0.292894L0.292893 5.29289Z" fill="currentColor"/>
          </svg>
        </p>
      </a>
    </div>
  </section>
  <section class="my-10">
    <h4 class="font-medium text-[20px] md:text-[24px] mb-10">Featured resources</h4>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div class="flex items-start gap-4">
        <div class="flex items-center justify-center min-h-[38px] min-w-[38px] mt-1 rounded-lg bg-inline-grey border border-vapor">
          <img src="{{{uiRootPath}}}/img/stack.svg" alt="Execution Environments" class="h-7 w-7 p-0.5">
        </div>
        <div>
          <a href="{{{relativize '/guides/execution-managed/executor-intro/'}}}" class="text-link-on-light">
            <h5 class="font-medium text-[20px]">
              Execution Environments
            </h5>
          </a>
          <p class="mt-3">
            Track our platform changes. Stay up to date with the latest in CI.
          </p>
        </div>
      </div>
      <div class="flex items-start gap-4">
        <div class="flex items-center justify-center min-h-[38px] min-w-[38px] mt-1 rounded-lg bg-inline-grey border border-vapor">
          <img src="{{{uiRootPath}}}/img/pipeline.svg" alt="Pipelines" class="h-7 w-7 p-0.5">
        </div>
        <div>
          <a href="{{{relativize '/guides/orchestrate/pipelines/'}}}" class="text-link-on-light">
            <h5 class="font-medium text-[20px]">
              Pipelines
            </h5>
          </a>
          <p class="mt-3">
            Trigger pipelines from your VCS, API, and the CircleCI app.
          </p>
        </div>
      </div>
      <div class="flex items-start gap-4">
        <div class="flex items-center justify-center min-h-[38px] min-w-[38px] mt-1 rounded-lg bg-inline-grey border border-vapor">
          <img src="{{{uiRootPath}}}/img/job.svg" alt="Jobs Deployment Examples" class="h-7 w-7 p-0.5">
        </div>
        <div>
          <a href="{{{relativize '/guides/deploy/deployment-overview/'}}}" class="text-link-on-light">
            <h5 class="font-medium text-[20px]">
              Deployment Examples
            </h5>
          </a>
          <p class="mt-3">
            Create and configure jobs to deploy to AWS, GCP, and more.
          </p>
        </div>
      </div>
      <div class="flex items-start gap-4">
        <div class="flex items-center justify-center min-h-[38px] min-w-[38px] mt-1 rounded-lg bg-inline-grey border border-vapor">
          <img src="{{{uiRootPath}}}/img/container.svg" alt="Docker Container"  class="h-7 w-7 p-0.5">
        </div>
        <div>
          <a href="{{{relativize '/guides/execution-managed/using-docker/'}}}" class="text-link-on-light">
            <h5 class="font-medium text-[20px]">
              Using Docker
            </h5>
          </a>
          <p class="mt-3">
            Build Docker images and execute your jobs in Docker environments.
          </p>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <div class="flex items-center justify-center min-h-[38px] min-w-[38px] mt-1 rounded-lg bg-inline-grey border border-vapor">
          <img src="{{{uiRootPath}}}/img/orbs.svg" alt="Orbs"  class="h-7 w-7 p-0.5">
        </div>
        <div>
          <a href="{{{relativize '/orbs/use/orb-intro/'}}}" class="text-link-on-light">
            <h5 class="font-medium text-[20px]">
              Third Party Integrations
            </h5>
          </a>
          <p class="mt-3">
            Easily integrate third-party tools using certified and partner orbs.
          </p>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <div class="flex items-center justify-center min-h-[38px] min-w-[38px] mt-1 rounded-lg bg-inline-grey border border-vapor">
          <img src="{{{uiRootPath}}}/img/security.svg" alt="Security"  class="h-7 w-7 p-0.5">
        </div>
        <div>
          <a href="{{{relativize '/guides/security/contexts/'}}}" class="text-link-on-light">
            <h5 class="font-medium text-[20px]">
              Security
            </h5>
          </a>
          <p class="mt-3">
            Create and manage contexts in the CircleCI app.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="rounded-2xl border border-vapor flex items-center justify-between my-[5%]">
    <div class="p-6">
      <img src="{{{uiRootPath}}}/img/deploys.svg" alt="Idea - Hello world" class="h-[48px] w-[48px]">
      <h4 class="font-medium text-[20px] md:text-[24px] mt-4 mb-4">
        Deploys
      </h4>
      <p class="text-left lg:text-justify max-w-[400px]">
        View and manage your deployments from a single dashboard. Gain immediate visibility into org wide deployments. No infra access required.
      </p>
      <a href="{{{relativize '/guides/deploy/deploys-overview/'}}}" class="flex items-center gap-2 mt-4">
        <p class="font-medium text-[18px] underline underline-offset-3 decoration-2">
          Get started with deploys
        </p>
        <svg width="16" height="12" viewBox="0 0 16 12" class="rotate-180 fill-accent-green" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 5.29289C-0.0976311 5.68342 -0.0976311 6.31658 0.292893 6.70711L5.29289 11.7071C5.68342 12.0976 6.31658 12.0976 6.70711 11.7071C7.09763 11.3166 7.09763 10.6834 6.70711 10.2929L3.41421 7H15C15.5523 7 16 6.55228 16 6C16 5.44772 15.5523 5 15 5H3.41421L6.70711 1.70711C7.09763 1.31658 7.09763 0.683417 6.70711 0.292894C6.31658 -0.0976312 5.68342 -0.0976312 5.29289 0.292894L0.292893 5.29289Z" fill="currentColor"/>
        </svg>
      </a>
    </div>
    <img src="{{{uiRootPath}}}/img/continuous-improvement.png" alt="Home Hero Banner" class="hidden md:block md:max-w-2/5">
  </section>
  <section class="flex flex-col md:flex-row gap-6 md:gap-[10%] my-10">
    <div>
      <h4 class="font-medium text-[20px] md:text-[24px] mb-6">Samples</h4>
      <ul class="text-link-on-light flex flex-col gap-2">
        <li>
          <a href="{{{relativize '/guides/toolkit/sample-config/'}}}">Sample config.yml Files</a>
        </li>
        <li>
          <a href="{{{relativize '/guides/toolkit/postgres-config/'}}}">Database Config Examples</a>
        </li>
        <li>
          <a href="{{{relativize '/guides/security/set-environment-variable/'}}}">Using Environment Variables</a>
        </li>
      </ul>
    </div>
    <div>
      <h4 class="font-medium text-[20px] md:text-[24px] mb-6">Tools</h4>
      <ul class="text-link-on-light flex flex-col gap-2">
        <li>
          <a href="{{{relativize '/reference/configuration-reference/'}}}">Configuration Reference</a>
        </li>
        <li>
          <a href="{{{relativize '/guides/integration/outbound-webhooks/'}}}">Outbound webhooks</a>
        </li>
        <li>
          <a href="{{{relativize '/api/v2/'}}}">API v2 Reference</a>
        </li>
        <li>
          <a href="{{{relativize '/api/v1/'}}}">API v1 Reference</a>
        </li>
      </ul>
    </div>
  </section>
  {{> footer}}
</div>
