<div data-page-navigation class="{{#if class}}{{class}}{{/if}} h-full border-r border-vapor fixed lg:sticky inset-0 lg:top-0 lg:h-screen transform -translate-x-full lg:translate-x-0 transition-transform duration-300 z-50 lg:z-auto bg-body-bg" {{#if page.component}} data-tcomponent="{{page.component.name}}" data-tversion="{{page.version}}"{{/if}}>
  <aside class="relative h-full py-6 px-9 overflow-y-scroll scrollbar-thin scrollbar-thumb-rounded-xl scrollbar-thumb-fog scrollbar-track-vapor scrollbar-track-border">
    <div class="flex items-center justify-between lg:hidden text-terminal-black mb-10">
      <img data-page-navigation-back-button src="{{{uiRootPath}}}/img/arrow-back.svg" alt="Arrow Back" class="invisible lg:hidden h-4 w-4">
      <h3 class="font-medium"> {{page.component.title}}</h3>
      <svg data-page-navigation-toggle width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" aria-label="Close Navigation">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9864 2.45711C13.3769 2.06658 13.3769 1.43342 12.9864 1.04289C12.5959 0.652369 11.9627 0.652369 11.5722 1.04289L7.0293 5.58579L2.4864 1.04289C2.09588 0.652369 1.46271 0.652369 1.07219 1.04289C0.681666 1.43342 0.681666 2.06658 1.07219 2.45711L5.61508 7L1.07219 11.5429C0.681666 11.9334 0.681666 12.5666 1.07219 12.9571C1.46271 13.3476 2.09588 13.3476 2.4864 12.9571L7.0293 8.41421L11.5722 12.9571C11.9627 13.3476 12.5959 13.3476 12.9864 12.9571C13.3769 12.5666 13.3769 11.9334 12.9864 11.5429L8.44351 7L12.9864 2.45711Z" fill="currentColor"/>
      </svg>
    </div>
    <div class="lg:hidden mb-12 flex items-center gap-3">
      {{> search-bar class="flex-1" }}
      <button
        type="button"
        onclick="window.Kapa && window.Kapa.open()"
        class="shrink-0 flex items-center gap-[10px] px-3 py-2 border border-vapor rounded-full whitespace-nowrap font-normal hover:bg-smoke-50 transition-colors"
      >
        <svg preserveAspectRatio="none" width="16" height="16" overflow="visible" viewBox="0 0 21.5005 21.5005" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M18.7485 1.75025V5.75025M20.7485 3.75025H16.7485M2.74848 15.7502V17.7502M3.74848 16.7502H1.74848M8.68548 14.2502C8.5962 13.9042 8.41581 13.5884 8.16309 13.3356C7.91037 13.0829 7.59455 12.9025 7.24848 12.8132L1.11348 11.2312C1.00881 11.2015 0.916684 11.1385 0.851088 11.0517C0.785491 10.9649 0.75 10.8591 0.75 10.7502C0.75 10.6414 0.785491 10.5356 0.851088 10.4488C0.916684 10.362 1.00881 10.299 1.11348 10.2692L7.24848 8.68625C7.59442 8.59706 7.91017 8.41682 8.16288 8.16429C8.41559 7.91175 8.59604 7.59614 8.68548 7.25025L10.2675 1.11525C10.2969 1.01017 10.3599 0.917591 10.4468 0.851644C10.5337 0.785697 10.6399 0.75 10.749 0.75C10.8581 0.75 10.9642 0.785697 11.0512 0.851644C11.1381 0.917591 11.2011 1.01017 11.2305 1.11525L12.8115 7.25025C12.9008 7.59632 13.0811 7.91215 13.3339 8.16487C13.5866 8.41759 13.9024 8.59797 14.2485 8.68725L20.3835 10.2682C20.489 10.2973 20.582 10.3603 20.6483 10.4473C20.7146 10.5344 20.7505 10.6408 20.7505 10.7502C20.7505 10.8597 20.7146 10.9661 20.6483 11.0532C20.582 11.1402 20.489 11.2031 20.3835 11.2322L14.2485 12.8132C13.9024 12.9025 13.5866 13.0829 13.3339 13.3356C13.0811 13.5884 12.9008 13.9042 12.8115 14.2502L11.2295 20.3853C11.2001 20.4903 11.1371 20.5829 11.0502 20.6489C10.9632 20.7148 10.8571 20.7505 10.748 20.7505C10.6389 20.7505 10.5327 20.7148 10.4458 20.6489C10.3589 20.5829 10.2959 20.4903 10.2665 20.3853L8.68548 14.2502Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span>Ask AI</span>
      </button>
    </div>
    {{> search-results class="hidden"}}
    {{> component-explorer-nav class="hidden" options=(components-to-nav-list)}}
    <div class="flex flex-col space-between">
      {{> left-side-nav}}
      <a href="https://app.circleci.com/" class="flex items-center mt-4 ml-2 gap-2 font-medium md:hidden bg-body-bg" >
        Go to Application
        <div class="inline-flex h-[24px] w-[24px] rounded items-center justify-center bg-slime-green border border-accent-green text-dark-green">
          {{> arrow-back-icon class="rotate-180" width="13" height="13" ariaLabel="Go to Application"}}
        </div>
      </a>
    </div>
  </aside>
</div>
